.home {
    height: 40em;
    position: relative;

    @include respond(tab-land) {
        padding: 2%;
    }

    &__img {
        height: 50rem;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: backwards;
    }

    &__text {
        position: absolute;
        top: 30%;
        animation-name: moveInRight;
        animation-duration: 2s;

        @include respond(tab-land) {
            position: relative;
        }
    }

    &__links {
        margin-top: 50px;
        text-align: center;
        display: inline-block;
        list-style: none;
    }

    &__icon {
        display: inline-block;
        padding: 2rem;
        font-size: 1.5rem;
    }
}