.header {
    font-size: 2.5rem;
    margin: 1.2rem 0;
    animation-name: moveInDown;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: backwards;

    &__navigation {
        padding-top: 2rem;
        display: inline-block;
        width: 75%;
        margin-left: 25%;

        @include respond(tab-land) {
            width: 100%;
            margin-left: 10%;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
        padding: 2rem;
    }

    &__link {
        text-decoration: none;
        display: inline-block;
    }
}
